<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>Kurser - DT207G 1</title>
</head>

<body>
  <div id="app">

    <h1>Mina kurser</h1>
    <% if (msg) { %>
        <p><%= msg %></p>
        <br>
    <% } %>

    <% if (courses.length === 0) { %>
      <p>Inga kurser sparade ännu.</p>
    <% } %>

    <div id="course-list">

      <% courses.forEach(course => { %>
        <div class="course-card">

          <h2><%= course.coursename %> (<%= course.coursecode %>)</h2>

          <p>Progression: <%= course.progression %></p>

          <div class="actions">
            <a class="btn" href="<%= course.syllabus %>" target="_blank">Kursplan</a>

            <a class="btn delete" href="/radera/<%= course.id %>">Radera</a>
          </div>

        </div>
      <% }) %>

    </div>

    <a class="btn" href="/ny">Lägg till kurs</a>
    <br>
    <a href="/om">Läs mer om uppgiften</a>

  </div>
</body>
</html>